[CONTROL-NODE]
server={%for host in groups['masters']%}{{ hostvars[host]['opencontrail_host_address'] }} {% endfor %}

[VIRTUAL-HOST-INTERFACE]
name=vhost0
ip={{ opencontrail_host_ipaddr }}
physical_interface={{ opencontrail_host_interface }}
{% if opencontrail_host_gateway -%}
gateway={{ opencontrail_host_gateway }}
{% endif -%}

[HYPERVISOR]
type=kvm
