[DEFAULT]
kubeconfig = /etc/kubernetes/master/openshift-master.kubeconfig
service-cluster-ip-range = {{ opencontrail_all_service_addresses }}

[opencontrail]
public-ip-range = {{ opencontrail_public_subnet }}
cluster-service = default/default
